#############
## Idea
#############
target/
/lib/
.idea/
.idea
.repository/
*.iml
*.iws
*.jrtc
*.class
*.info
*.properties
*.jar
*.zip

/out/
/src/
/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*
